<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taruc.visory">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.quickblox.sample.messages.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".quickblox.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mlkit.MLKitHomeActivity"
            android:label="Object Detection Home"/>
        <activity
            android:name=".mlkit.MLKitDetectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.SubmitStoryActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".blind.ShowLocationActivity"
            android:label="@string/title_activity_show_location" />
        <activity android:name=".ui.GetHelpActivity" />
        <activity
            android:name=".mlkit.ObjectDetectorActivity"
            android:label="Object Detector" />
        <activity
            android:name=".report.ReportActivity"
            android:label="Report a Problem" />
        <activity
            android:name=".settings.ChangeEmailActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="com.taruc.visory.settings.ChangeEmailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.ChangePasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="com.taruc.visory.settings.ChangePasswordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.PersonalDetailsActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="com.taruc.visory.settings.PersonalDetailsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".volunteer.CallEndActivity"
            android:label="Call Ended" />
        <activity
            android:name=".blind.CallEndActivity"
            android:label="Call Ended" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AboutActivity" />
        <activity
            android:name=".ui.ForgotPassActivity"
            android:label="Forgot Password"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".volunteer.TutorialActivity" />
        <activity android:name=".BlindHomeActivity" />
        <activity android:name=".VolunteerHomeActivity" />
        <activity android:name=".ui.VerifyEmailActivity" />
        <activity
            android:name=".ui.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.LandingActionsActivity" />
        <activity android:name=".ui.LandingActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.StoryDetailsActivity" />
        <activity
            android:name=".quickblox.activities.CallActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".quickblox.activities.PermissionsActivity"
            android:screenOrientation="portrait" />

        <service android:name=".quickblox.services.LoginService" />
        <service android:name=".quickblox.services.CallService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>